#cart_left_menu {
  display: flex;
  background-color: #eee;
  height: auto;
  min-height: 100vh;
}

.cart_element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itens_info_cart {
  background-color: #ddd;
  padding: 1px;
}

.content_cart_body {
  width: 100%;
}
.action_message {
  text-align: center;
  width: 100%;
  background-color: #0c8230;
  color: #99ffb8;
  border: 1px solid #99ffb8;
  padding: 5px;
}

.list_option {
  text-align: center;
}

#option_menu_left {
  height: 100vh;
  background-color: #eee;
}

ul li {
  list-style-type: none;
  margin: 20px 25px 10px 0;
}

ul li:hover {
  background-color: #fff;
  cursor: pointer;
}

.select_itens_option {
  width: 100%;
}
