body {
  background-color: #f8f9fa;
  overflow-x: hidden;
}

#cart_left_menu {
  display: flex;
  height: auto;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.itens_info_cart {
  background-color: #ffffff;
}

.content_cart_body {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.action_message {
  text-align: center;
  width: 100%;
  background-color: #0c8230;
  color: #99ffb8;
  border: 1px solid #99ffb8;
  padding: 5px;
}

.action_messageFalse {
  text-align: center;
  width: 100%;
  background-color: #cc0000;
  color: #99ffb8;
  border: 1px solid #990000;
  padding: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.payment_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c8230;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  min-width: 50%;
  min-height: 80%;
  z-index: 10000;
}

.payment_modal svg {
  width: 40%;
}

#payment_message {
  color: #ffffff;
  font-size: 44px;
}

.list_option {
  text-align: center;
}

#option_menu_left {
  height: 100vh;
  background-color: #eee;
}

ul li {
  list-style-type: none;
  margin: 20px 25px 10px 0;
}

ul li:hover {
  background-color: #aaa;
  cursor: pointer;
}

.select_itens_option {
  width: 100%;
}

.select_itens_option a {
  text-decoration: none;
}

/* Estilo para os cards de produtos */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 30px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  max-width: 290px;
  height: 250px;
}

.action_icon {
  z-index: 99999;
}

.add_to_cart {
  align-self: center;
  margin-top: auto;
}

.card-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
  max-height: 180px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 20px;
}

.card-text {
  margin-bottom: 15px;
  font-size: 18px;
  color: #343a40;
}

.iten_value {
  font-size: 20px;
  font-weight: bold;
  color: #198754;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #ffcd39;
  border-color: #ffcd39;
}

.btn-warning svg {
  margin-bottom: 3px;
  margin-left: 5px;
}

.itens_info_cart {
  margin-bottom: 10px;
}

/* Estilo para o menu de opções no lado esquerdo */
#option_menu_left {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.menu_option {
  margin-bottom: 20px;
}

.list_option {
  margin-bottom: 10px;
}

.list_option h5 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #343a40;
}

.select_itens_option ul {
  list-style-type: none;
  padding-left: 0;
}

.select_itens_option ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #6c757d;
}

#deleteCart {
  border: none;
  margin: 15px;
  background-color: #ffcccc;
}
